@{
    ViewData["Title"] = "Home Page";
}

<main class="content">

    <h1>
        Power Up Your PC – The Best Parts, The Best Prices!
    </h1>

    <div class="flex-container">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/fj245xMr-BM?si=HWklCemkD99vyXOnautoplay=1&mute=1"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen>
        </iframe>


        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/XAGFS8d_qLw?si=Hkkbi8tLGvCSdp12"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen>
        </iframe>


        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/9ZaGmy6r0b0?si=EfFpa0h1NAs3nvie"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen>
        </iframe>
    </div>

    <h1>
        Featured - This Week in Deals!
    </h1>

    <div class="container" id="featured-products-container">
    </div>

</main>

@section Scripts {
    <script src="~/js/index.js"></script>
}
